.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.add-clients-container, .navbar-container-right, .navbar-container-left {
    display: flex;
}
.navbar-container-center {
    display: flex;
    flex-direction: column;
}